data/
models/
__pycache__/
*.csv
*.parquet
*.pkl
.ipynb_checkpoints/
.vscode/
.DS_Store
*.ipynb_checkpoints
experiments/
catboost_info/
week_07_decoder_centric_models/checkpoints/
week_08_other_transformer_architectures/checkpoints/

!week_03_word_embeddings_and_distributional_semantics/results/evaluation_summary.csv 
!week_05_transformer_architecture/src/data/
!week_06_encoder_centric_models/src/data/
!week_07_decoder_centric_models/src/data/
!week_07_decoder_centric_models/src/models/
!week_08_other_transformer_architectures/src/data/
!week_08_other_transformer_architectures/src/models/
!week_09_llm_scaling_and_prompt_eng/src/models/
!week_09_llm_scaling_and_prompt_eng/configs/data/
