data/
models/
__pycache__/
*.csv
*.parquet
*.pkl
.ipynb_checkpoints/
.vscode/
.DS_Store
*.ipynb_checkpoints
experiments/
catboost_info/

!week_03_word_embeddings_and_distributional_semantics/results/evaluation_summary.csv 
!week_05_transformer_architecture/src/data/
!week_05_transformer_architecture/models/version_1/config.yaml
!week_05_transformer_architecture/models/version_1/model.pth